@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { 
  overflow-y: scroll;
  scroll-behavior: smooth;
}

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 942px;
  width: 73%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header {
  width: 100%;
  position: absolute;
  background: transparent;
}

header .wrapper {
  padding: 16px 0 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

h1 { padding: 24px 0; }

.search-here {
  -ms-flex-preferred-size: 32%;
  flex-basis: 32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.search-here input {
  width: 100%;
  padding: 12px 0 12px 15px;
  border: none;
  font-size: 15px;
}

.search {
  -ms-flex-preferred-size: 80%;
  flex-basis: 80%;
}

.search-here button {
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
  border: none;
  padding: 12px;
  background-color: #3B9FE2;
  color: #fff;
  font-size: 15px;
  text-transform: capitalize;    
}

.hamburger { display: none; }
.nav { background-color: #4384BF; }
.nav .wrapper { padding: 12px 0; }
nav li:last-of-type { border-right: 0; }

nav li {
  padding: 0 15px;
  border-right: 1px solid #3DB0E7;
}

nav a {
  color: #fff;
  font-size: 15px;
  text-transform: capitalize;
}
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/* banner section styling start */
.banner {
  padding: 135px 0;
  margin-bottom: 34px;
  background-image: url('https://via.placeholder.com/1286x600/285EAA/285EAA');
  background-size: 100% 100%;
}

.banner .wrapper {  padding-top: 187px;}

h2::first-letter,
h4::first-letter,
.banner p::first-letter { text-transform: capitalize; }

h2 {
  margin-bottom: 23px;
  color: #fff;
  font-size: 34px;
}

.banner p {
  width: 46%;
  color: #7CD8FF;
  font-size: 28px;
}
/* banner section styling end */

/* subscribe section styling start */
.subscribe { padding-bottom: 60px; }
.breadcrumb { margin-bottom: 32px; }

.breadcrumb a {
  color: #000;
  font-size: 13px;
}

.breadcrumb a:hover,
.sign-up a:hover {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  -webkit-transition: 1s ease-in;
  -o-transition: 1s ease-in;
  transition: 1s ease-in;
}

.breadcrumb a::after {
  content: '\f054';
  padding: 0 5px 0 11px;
  font-family: FontAwesome;
  font-size: 9px;
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
}

h3 {
  font-weight: 600;
  font-size: 14px;
}

h4 {
  margin-bottom: 23px;
  color: #377FD8;
  font-size: 30px;
}

label { font-size: 15px; }

.sign-up input,
select {
  width: 100%;
  padding: 11px 0;
  margin-top: 12px;
}

select {
  padding-left: 11px;
  background-color: #3B9FE2;
  color: #fff;
  font-size: 16px;
}

.sign-up div {
  width: 31.5%;
  margin: 11px 0 24px;
}

.sign-up .website-link { width: 100%; }
.sign-up a { color: #3B9FE2; }

.sign-up p {
  font-size: 15.5px;
  line-height: 1.6;
}

.sign-up button {
  padding: 11px 66px;
  border: none;
  background-color: #3B9FE2;
  color: #fff;
  font-size: 16px;
  text-transform: capitalize;
}

.sign-up button:hover {
  border: 1px solid #3B9FE2;
  background-color: #fff;
  color: #3B9FE2;
  -webkit-transition: .5s ease-in;
  -o-transition: .5s ease-in;
  transition: .5s ease-in;
}

.sign-up .notify-yes { margin: 30px 0 0; }
.sign-up .notify-no { margin: 0 0 30px; }

.notify-yes label,
.notify-no label { text-transform: capitalize; }

.notify-yes input,
.notify-no input { width: 5%; }
/* subscribe section styling end */
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
/* footer top section styling start */
footer {
  margin-top: 80px;
  position: relative;
}

.footer-top {
  padding: 50px 0;
  background-color: #1D4785;
}

.footer-top .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-top figure {
  -ms-flex-preferred-size: 25.5%;
  flex-basis: 25.5%;
}

.eurofinance {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
}

.social-icons {
  -ms-flex-preferred-size: 32%;
  flex-basis: 32%;
}

h5 {
  margin-bottom: 20px;
  color: #fff;
  font-size: 16px;
}

.eurofinance ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.eurofinance li { margin-bottom: 5px; }

.eurofinance a {
  color: #fff;
  text-transform: capitalize;
}

.eurofinance a:hover,
.footer-bottom a:hover {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  -webkit-transition: 1s ease-in;
  -o-transition: 1s ease-in;
  transition: 1s ease-in;
}

.social-links { display: flex; }
.social-links li { padding-right: 18px; }
.social-links a { text-indent: -9999px; }

.social-links a::before {
  padding: 9px;
  border-radius: 50%;
  float: right;
  background-color: #fff;
  font-family: FontAwesome;
  font-size: 23px;
  text-indent: 0;
}

.social-links a:hover::before,
.toggle-top:hover::after { opacity: 0.7; }

.facebook::before { 
  content: '\f082'; 
  color: #2C76B5;
}

.twitter::before { 
  content:"\f099"; 
  color: #3EA1F2;
}

.youtube::before { 
  content:"\f16a";
  color: #DD4B39;
}

.linkedin::before { 
  content: '\f0e1'; 
  color: #2C76B5;
}

.toggle-top {
  position: fixed;
  right: 1.9%;
  bottom: 36px;
  opacity: 0.7;
  text-indent: -9999px;
}

.toggle-top::after {
  content: '\f106';
  padding: 8px 13px;
  border-radius: 50%;
  float: right;
  background-color: #000;
  color: #fff;
  font-family: FontAwesome;
  font-size: 36px;
  font-weight: 600;
  text-indent: 0;
}
/* footer top section styling end */

/* footer bottom section styling start */
.footer-bottom {
  padding: 14px 0;
  background-color: #153A6B;
}

.footer-bottom .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-bottom a::first-letter { text-transform: capitalize; }
.footer-bottom li:last-of-type { border: none; }

.footer-bottom li {
  padding: 0 6px;
  border-right: 1px solid #fff;
}

.footer-bottom a {
  color: #fff;
  font-size: 13px;
}

.footer-bottom span {
  color: #fff;
  font-size: 13px;
}
/* footer bottom section styling end */
/*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
  .wrapper { width: 88%; }

  /*hamburger styling start*/
  nav {
    background:none;
    width: 55px;
    height: 3px;    
    margin: 18px 0;
    float: right;
  }

  .hamburger {display: block;}

  .hamburger span {
    width: 80%;
    height: 3px;
    margin-bottom: 4px;
    display: block;
    background-color: #fff;
    text-indent: -999px;
  }

  nav ul {
    width: 100%;
    display:none;
    position: absolute;
    top: 199px;
    right: 0;
    left: 0;
  }

  nav li {
    width: 100%;
    padding: 16px 0;
    border: 1px solid #fff;
    background-color: #153A6B;
    opacity: .8;
    text-align: center;
  }

  nav a {
    margin-left: 30px;
    color: #fff;
    text-align: center;  
  }

  .hamburger:hover + ul {
    display: block;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }

  .hamburger:hover .one { transform: translateY(0) rotate(45deg); }
  .hamburger:hover .three { transform: translateY(-13px) rotate(135deg); }
  .hamburger:hover .two { transform: scale(0); }
  /*hamburger styling end*/

  /*hover removed*/
  .breadcrumb a:hover,
  .sign-up a:hover,
  .eurofinance a:hover,
  .footer-bottom a:hover {
    -webkit-text-decoration-line: underline;
    text-decoration-line: none;
  }

  .sign-up button:hover {
    border: 0;
    background-color: #3B9FE2;
    color: #fff;
  }

  .social-links a:hover::before,
  .toggle-top:hover::after { opacity: 1; }

  .search,
  .search-here button { display: none; }
  
  .banner p { width: 100%; }
  .footer-top figure { margin: 0 auto 20px; }

  .eurofinance {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }

  .eurofinance,
  .social-icons {
    padding: 20px;
    -ms-flex-preferred-size: 25%;
    flex-basis: 100%;
    text-align: center;
  }

  .social-links{ justify-content: center; }
}


/*media query for 540px starts here*/
@media only screen and (max-width: 540px) {
  .footer-bottom li {
    border-right: 0;
    display: block;
    text-align: center;
  }

  .footer-bottom ul,
  .footer-bottom span {
    margin-bottom: 15px;
    flex-basis: 100%;
  }

  .footer-bottom span { text-align: center; }
}